/* ============================================detail page========================================= */
.detail-bg {
  padding: 80px 0;
  background: #f7f7f7;
}

.detail-container {
  max-width: 1100px;
  margin: auto;
}

.detail-breadcrumb {
  margin-bottom: 20px;
  color: #888;
}

.detail-breadcrumb a {
  color: #c79a2b;
  text-decoration: none;
}

.detail-card {
  display: flex;
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.08);
  overflow: hidden;
  padding: 50px;
}

.detail-image {
  flex: 1;
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 420px;   /* FIXED HEIGHT */
  border-radius: 20px;
}

.detail-image img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* KEY LINE */
  padding: 20px;
  transition: transform 0.4s ease;
  border: 2px soild red;
}


.detail-image img:hover {
  transform: scale(1.05);
}

.detail-info {
  flex: 1;
  padding: 40px;
}

.detail-title {
  font-size: 36px;
  margin-bottom: 10px;
  color: #333;
}

.detail-description {
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
}

.detail-meta {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  color: #999;
}

.detail-ingredients {
  margin-bottom: 20px;
}

.size-list {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.size-badge {
  padding: 6px 14px;
  border-radius: 20px;
  background: #f1f1f1;
  font-size: 14px;
}

.detail-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.price {
  color: #c79a2b;
  font-size: 28px;
}

.order-btn {
  padding: 14px 30px;
  background: #c79a2b;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.order-btn:hover {
  background: #b38720;
  transform: translateY(-2px);
}
