.order-detail-page {
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
  min-height: 100vh;
}

.order-detail-card {
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.order-title {
  text-align: center;
  background-color: #000;
  padding: 10px;
  border-radius: 10px;
  color: #f0ad4e;
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 600;
}

/* ===== INFO ROW ===== */
.info-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;

}

.info-card {
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  flex: 1 1 300px;
  min-width: 280px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.info-card h3 {
  margin-bottom: 12px;
  color: #000;
  font-size: 25px;
  text-transform: uppercase;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
}

.info-card p {
  margin: 6px 0;
  color: #555;
  margin-bottom: 10px;
}

/* ===== STATUS ===== */
.status-orderdetailpage {
  padding: 4px 10px;
  border-radius: 5px;
  color: #fff;
  text-transform: capitalize;
}

.status-orderdetailpage.pending {
  background-color: #f0ad4e;
}

.status-orderdetailpage.progress {
  background-color: #0275d8;
}

.status-orderdetailpage.cancelled {
  background-color: #d9534f;
}

.status-orderdetailpage.completed {
  background-color: #5cb85c;
}

/* ===== Items ===== */
.items-title {
  margin-top: 25px;
  margin-bottom: 15px;
  color: #000;
  font-size: 25px;
  text-transform: uppercase;
}

.order-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.order-item-card {
  display: flex;
  gap: 15px;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 12px;
  background-color: #fafafa;
  align-items: center;
  transition: 0.3s all;
}

.order-item-card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.order-item-image {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  object-fit: cover;
}

.order-item-info h4 {
  margin: 0;
  color: #333;
}

.order-item-info p {
  margin: 3px 0;
  color: #555;
}

/* ===== CLOSE BUTTON ===== */
.close-btn {
  margin-top: 25px;
  padding: 12px 25px;
  background-color: #000;
  color: #f0ad4e;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  display: block;
  margin-left: auto;
  transition: all 0.5s ease-in-out;
}

.close-btn:hover {
  background-color: #f0ad4e;
  color: #000;
  box-shadow: 0px 8px 10px #000;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .info-row {
    flex-direction: column;
  }

  .order-item-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .order-item-image {
    width: 100%;
    height: auto;
  }
}