/* FILTER */
.report-filter {
  background: #1b1007;
  color: #b68c55;
  border: 1px solid #a47551;
  padding: 10px 16px;
  border-radius: 12px;
  margin-bottom: 10px;
}

/* STAT CARD */
.report-card {
  background: linear-gradient(145deg, #1b1007, #2c1a0c);
  border: 1px solid #a47551;
  border-radius: 18px;
  padding: 20px;
  color: whitesmoke;
  box-shadow: 0 0px 10px rgba(0,0,0,.5);

  /* FLEX FIX */
  display: flex;
  align-items: center;
  gap: 16px;
}

.report-card:hover {
  transform: translateY(-4px);
  transition: 0.3s ease;
}

.report-card p {
  margin: 0;
  color: #b68c55;
  font-size: 14px;
}

.report-card h3 {
  margin: 4px 0 0;
  font-size: 26px;
  font-weight: 600;
}


/* CHART CARD (IMPORTANT FIX) */
.chart-card {
  background: linear-gradient(145deg, #1b1007, #2c1a0c);
  border: 1px solid #a47551;
  border-radius: 18px;
  padding: 20px;
  box-shadow: 0 0px 10px rgba(0,0,0,.6);
}
.chart-card h5{
  color: whitesmoke;
  font-size: 25px;
  margin-bottom: 20px;
}
/* Canvas fix */
.chart-card canvas {
  width: 100% !important;
  height: auto !important;
}
/* ICON STYLE */
.report-icon {
  width: 52px;
  height: 52px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

/* ICON VARIANTS */
.report-icon.accent {
  background: rgba(0, 232, 214, 0.2);
  color: #00e8d6;
}

.report-icon.green {
  background: rgba(31, 191, 93, 0.2);
  color: #1fbf5d;
}

.report-icon.gold {
  background: rgba(164, 117, 81, 0.3);
  color: #b68c55;
}

